<ng-container *ngIf="this.biImplementationSE.showExportSpinner">
  <app-loader></app-loader>
</ng-container>

<div class="inactive-alert" *ngIf="this.wasInactive">
  <div class="inactive-alert-content">
    <div class="inactive-alert-title">Inactive Report</div>
    <div class="inactive-alert-description">
      This report has been inactive for more than 10 minutes.
      <br />
      Please reload the page.
    </div>

    <div class="inactive-alert-button">
      <button class="btn" (click)="this.reloadPage()">
        <i class="material-icons-round" style="font-size: 16px"> refresh </i>
        Reload Page
      </button>
    </div>
  </div>
</div>

<div class="full-screen-container" *ngIf="this.showFullScreen">
  <button class="btn" (click)="toggleFullScreen()">
    <span>{{ isFullScreen ? 'Exit full Screen' : 'Full Screen' }}</span>
    <i class="material-icons-round" style="font-size: 16px">
      {{ isFullScreen ? 'close_fullscreen' : 'open_in_full' }}
    </i>
  </button>
</div>

<div class="reportDescription" id="reportDescription"></div>

<div
  #reportContainer
  id="report-container"
  *ngIf="this.reportName"
  [style.height]="biHeight()"></div>

<h1 *ngIf="!this.reportName">No reportName</h1>

<div class="monitor-panel" *ngIf="this.showMonitorPanel">
  <div class="help">
    <i class="help-icon material-icons-round"> help </i>
    <div class="explanation">
      <div class="process">
        <i class="material-icons-round bad"> cancel </i>
        <div class="text">Error generating</div>
      </div>
      <div class="process">
        <i class="material-icons-round"> check_circle </i>
        <div class="text">Successful generation</div>
      </div>
      <div class="process">
        <i class="material-icons-round optional"> fiber_manual_record </i>
        <div class="text">Not necessary at this time</div>
      </div>
    </div>
  </div>

  <div
    class="process {{ process?.works !== null  && 'step-' + process?.step }}"
    [attr.works]="process?.works"
    *ngFor="let process of this.variablesSE.processes">
    <i
      *ngIf="process.works !== null; else loggedOut"
      class="material-icons-round"
      [ngClass]="{ bad: !process.works, optional: process.works === 2 }">
      {{ process.works === 2 ? 'fiber_manual_record' : process.works ? 'check_circle' : 'cancel' }}
    </i>
    <ng-template #loggedOut>
      <i class="loader material-icons-round"> adjust </i>
    </ng-template>

    <div class="text">{{ process.name }}</div>
  </div>
</div>
