#reportContainer {
  width: 100%;

  iframe {
    border: none !important;
  }
}

.fullScreen-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #5569dd;
  color: white;
  border: 1px solid #5569dd;
  font-size: 0.875rem;
  transition: all ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;

  &:hover {
    background-color: white;
    color: black;
  }
}

.inactive-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-alert__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  max-width: 491px;
  width: 100%;
  margin: 1rem;
}

.inactive-alert__title {
  font-size: 1.5rem;
  font-weight: 500;
}

.inactive-alert__description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.inactive-alert__button {
  margin-top: 0.5rem;
}

.hideReport{
  opacity: 0;
}

.monitor_panel {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #ffffffe3;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #00000063;
  border-radius: 5px;
  padding-right: 70px;


  .help {
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      .explanation {
        display: flex;
        opacity: 1;
      }
    }

    .explanation {
      display: none;
      gap: 10px;
      flex-direction: column;
      padding: 20px;
      position: absolute;
      top: 13px;
      right: 13px;
      background-color: #ffffffe3;
      box-shadow: 0px 0px 10px 0px #00000063;
      border-radius: 5px;
      opacity: 0.1;

      .process {
        white-space: nowrap;
      }
    }

    .help_icon {
      cursor: pointer;
      color: rgb(74, 116, 255);

    }
  }

  .process {
    display: flex;
    align-items: center;
    gap: 10px;

    .loader {
      color: #575757 !important;
      animation: pulse 1s infinite;
    }

    i {
      color: rgb(0, 165, 0) !important;

      &.bad {
        color: rgb(255, 75, 75) !important;
      }

      &.optional {
        color: #5569dd !important;
      }
    }

    .text {
      font-size: .9rem;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}


.report_loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 5px;
    max-width: 491px;
    width: 100%;
    margin: 1rem;
    i{
      color: #f1c911;
      font-size: 3rem;
      animation: spin 1.5s linear infinite;
    }
    .text{
      font-size: 1.5rem;
      font-weight: 500;
      color: #525252;
    }
  }
}



@keyframes spin {
  0% { transform: rotate(0deg); color: #f1c911; }
  50% { color: #fde681; }
  100% { transform: rotate(-360deg); color: #f1c911; }
}
