<div class="footer-api">
    <div class="content">
        <div class="logo">
            <img class="cgiar_logo" src="/assets/cgiar_logo.png" alt="" srcset="" />
        </div>
        <div class="texts">
            <div class="buttons">
                <a target="_blank" href="mailto:ClarisaSupport@cgiar.org" class="f-button">Contact Us</a>
                <div class="point"></div>
                <a target="_blank" href="https://cgiar-prms.notion.site/Legal-Terms-eb2f3e436f3e46bd9057b1cb1e3391b8" class="f-button">Terms and Conditions</a>
                <div class="point"></div>
                <a target="_blank" href="https://github.com/AllianceBioversityCIAT/CLARISA/blob/main/LICENSE" class="f-button">License</a>
            </div>
            <div class="rights">© 2023 CGIAR System Organization. All rights reserved.</div>
        </div>
    </div>
</div>

