body {
  margin: 0;
}

$bg: #242424;
$c-01: #f1c911;
$c-02: #fde681;

.loader-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 20%);
}

.content {
  width: 200px;
  height: 80px;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  .text {
    color: white;
  }

  .loading {
    width: 80px;
    height: 20px;
    position: relative;

    span {
      background-color: $c-01;
      border-radius: 50px;
      display: block;
      height: 16px;
      width: 16px;
      bottom: 0;
      position: absolute;
      transform: translateX(64px);
      animation: loading 3.5s ease both infinite;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $c-02;
        border-radius: inherit;
        animation: loading2 3.5s ease both infinite;
      }

      @keyframes loading {
        0% {
          width: 16px;
          transform: translateX(0);
        }

        40% {
          width: 100%;
          transform: translateX(0);
        }

        80% {
          width: 16px;
          transform: translateX(64px);
        }

        90% {
          width: 100%;
          transform: translateX(0);
        }

        100% {
          width: 16px;
          transform: translateX(0);
        }
      }

      @keyframes loading2 {
        0% {
          transform: translateX(0);
          width: 16px;
        }

        40% {
          transform: translateX(0%);
          width: 80%;
        }

        80% {
          width: 100%;
          transform: translateX(0);
        }

        90% {
          width: 80%;
          transform: translateX(15px);
        }

        100% {
          transform: translateX(0);
          width: 16px;
        }
      }
    }
  }
}
